[Unit]
Description=Vitruveo Monitor agent

[Service]
ExecStart=/home/ubuntu/vitruveo-monitor-agent/agent.sh
WorkingDirectory=/home/ubuntu/vitruveo-monitor-agent
User=ubuntu
Group=ubuntu
